<%-include partials/header.ejs %>

<%-include partials/main_nav.ejs %>

<!-- Main Content -->
    <main class="container">
      <% if(title == "Home"){ %>
      <%-include partials/home_content.ejs %>
      <% } %>
      <% if (title == "About"){ %>
      <%-include partials/about_content.ejs %>
      <% } if (title == "Products"){%>
      <%-include partials/products_content.ejs %>
    </main>




<%-include partials/bottom_nav.ejs %>

<%-include partials/footer.ejs %>